<div class="ui textfield {{classes}}"
	{{#if validate}}data-validate="{{validate}}"{{/if}}
>
	{{#if label}}<label>{{label}}</label>{{/if}}

	{{#if iconleft}}<div class="accessory accessory-left accessory-icon"><i class="{{iconleft}}"></i></div>{{/if}}
	{{#if iconright}}<div class="accessory accessory-right accessory-icon"><i class="{{iconright}}"></i></div>{{/if}}
	<input type="text" 
		{{#if type}}type="{{type}}"{{else}}type="text"{{/if}}
		{{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
		{{#if value}}value="{{value}}"{{/if}}
	/>
</div>