@colarea: 100 - (@gutter*13);
@col: @colarea / 12;

 
@1col: round(@col, 2);
@2col: round((@col*2) + (@gutter*1), 2);
@3col: round((@col*3) + (@gutter*2), 2);
@4col: round((@col*4) + (@gutter*3), 2);
@5col: round((@col*5) + (@gutter*4), 2);
@6col: round((@col*6) + (@gutter*5), 2);
@7col: round((@col*7) + (@gutter*6), 2);
@8col: round((@col*8) + (@gutter*7), 2);
@9col: round((@col*9) + (@gutter*8), 2);
@10col: round((@col*10) + (@gutter*9), 2);
@11col: round((@col*11) + (@gutter*10), 2);
@12col: round((@col*12) + (@gutter*11), 2);