@base:16px;

@r: unit(1/@base, rem);
@em: unit(1/@base, em);

@bp-small: 0px;
@bp-medium: 640px;
@bp-large: 768px;
@bp-xlarge: 1025px;
@bp-xxlarge: 1400px;

@gutter-small:  3.5vw;
@gutter-medium: 2vw;
@gutter-large: 2vw;
@gutter-xlarge: 2vw;
@gutter-xxlarge: 2vw;
@gutter-static:32px;

@ui-color-primary:#61849B;
@ui-color-primary-reverse:#fff;
@ui-color-accent:#00A6FF;
@ui-color-secondary:#F06E35;

@ui-color-text:#7D7D78;
@ui-text-color:@ui-color-text;

@ui-color-light:#e0e0e0;
@ui-color-dark:#bbb;

@ui-border-width:@r*1;
@ui-border-color:#e3e3e3;

@ui-icons-path:'../icons/';

@ui-element-vertical-margin:  @r*16;
@ui-element-horizontal-margin:  @r*16;
@ui-element-vertical-padding: @r*8;
@ui-element-vertical-padding: @r*16;
@ui-element-horizontal-padding:  @r*16;

//@ui-element-size-small:

@ui-space-small: @r*12;
@ui-space-medium: @r*12;
@ui-space-large: @r*16;
@ui-space-xlarge: @r*32;
@ui-space-xxlarge: @r*32;

@ui-font-primary-family:'Source Sans Pro', sans-serif;
@ui-font-primary-line-height:1.7;

@ui-font-primary-size-small: @r*12;
@ui-font-primary-size: @r*16;
@ui-font-primary-size-large: @r*24;

.ui-font-primary(){
	font-family: @ui-font-primary-family;
	font-size:@ui-font-primary-size;
	line-height: @ui-font-primary-line-height;
}
.ui-font-primary-short(){
	.ui-font-primary();
	line-height: 1;
}


//component specific variables
	
	//toggles
	@ui-toggle-switch-label:'\00a0\00a0on\00a0\00a0\00a0off';
	@ui-toggle-switch-label:'\00a0+\00a0-';
	@ui-toggle-switch-label:'';
	@ui-toggle-switch-label-letter-spacing: @r*3;
	@ui-toggle-switch-label-line-height: @r*20;
	@ui-toggle-width: @r*50;
	@ui-toggle-inner-padding:@r*2;
	@ui-toggle-height: @r*25;
	@ui-toggle-rounded: @r*0;

	


