& when (@bp = @bp-small){



 
    .ui.ui-dialogs{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
        color:#232323;

        &.active{
            z-index: 999;
        }
    }

    .ui.ui-dialog{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        &.active.hidden .close,
        .close{
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: #fff;
            color: #fff;
            font-size:16px;
            line-height: 1;
            width: 50px;
            height: 50px;
            text-align: center;
            cursor: pointer;
            overflow: hidden;
            z-index: 9999;

            i.icon-stacked>i+i{
                display: none;
            }

            &:hover{
                i.icon-stacked>i{
                    display: none;
                }   
                i.icon-stacked>i+i{
                    display: block;
                }
                background-color: @ui-color-primary;
            }
            .icon{
                i{
                    line-height: 3.2em;
                }
            }
        }

        .overlay{
            display: none;
        }

        .container-outer{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }

        &.active.hidden .container-outer>.container-inner,
        .container-outer>.container-inner{
            text-align: left;
            width: 100%;
            height:100%;
            background-color: #F2F2F2;
            opacity: 0; 
            visibility: hidden;
            .transition(~'.15s');
            .ease(easeInCubic);
            .translate3d(0px,0px,-100px);
        }

      &.active .container-outer>.container-inner{
        opacity: 1;
        visibility: visible;
        .transition(~'.5s');
        .ease(easeOutCirc);
        .translate3d(0px,0px,0px);
      }
      &.disabled .container-inner{
        .user-select(none);
        pointer-events: none;
      }
      &.disabled .container-inner:after{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: fade(#F2F2F2, 75%);
        z-index: 99999;
      }

      .content-outer{
        overflow: auto;
        -webkit-overflow-scrolling:touch;
        position: absolute;
        top: 50px;
        bottom: 0px;
        left: 0px;
        width: 100%;
      }

      &.has-title .content-outer{
        top:50px;
      }
      &.has-options .content-outer{
        bottom:64px;
      }


      .content-inner{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        min-height: 100%;
        padding-bottom: 2px;
        .box-sizing(content-box);
      }
      .header{
        position: relative;
        background-color: #fff;
        color:#fff;
        height: 51px;
        .ui-font-primary-short();
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: @ui-text-color;
        text-align: center;
        border-bottom: 1px solid #e0e0e0;
        z-index: 999;
        .title{
          width: 100%;
          padding-top:18px;
          padding-left: 50px;
          padding-right: 50px;
          padding-left: @gutter;
          text-align: left;
          overflow: hidden;
          -webkit-text-overflow:ellipsis;
          text-overflow:ellipsis;
          white-space: nowrap;
          display: block;
        }
      }
        .footer{
            background-color: #e0e0e0;
            overflow: auto;
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            position: absolute;
            width: 100%;
            bottom: 0px;
            &>.button{
                display: inline-block;
                background-color: @ui-color-primary;
                padding:10px;
                padding-left:16px;
                padding-right:16px;
                margin-top: 10px;
                margin-left: 10px;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;
                color: #fff;
                cursor: pointer;
                &:hover{
                    background-color: darken(@ui-color-primary, 10%);
                }

                &.cancel{
                    background-color: transparent;
                    color:#666;
                    &:hover{
                        background-color: #ccc;
                    }
                }
            } 
        }


    }




    .ui.ui-dialog .content-inner>.content{
        padding-left:@gutter;
        padding-right:@gutter;
        padding-bottom:@gutter;
        &.collapse{
            padding:0;
        }

        &.fill{
            height: 100%;
            position: absolute;
            width: 100%;
        }

        h2{
            padding:16px;
            .ui-font-primary-short();
            margin:0; 
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
            color:@ui-color-primary;
        }
    }


















}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){







.ui.ui-dialog .header .title{
    padding-left: 50px;
    text-align: center;
}


    .ui.ui-dialog .content-inner>.content{
        padding-left:@gutter;
        padding-right:@gutter;
        padding-bottom:@gutter;
        &.collapse{
            padding:0;
        }

        &.fill{
            height: 100%;
            position: absolute;
            width: 100%;
        }
    }



}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){



  .ui.ui-dialogs{
    position: fixed;
    top: 0px;
    left: 0px;
    
    .ui.ui-dialog{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      
      display: table;

      &.active.hidden .close{

      }

      // &.active .close{
      //  .transition-delay(~'.25s');
      //  top: -50px;
      // }

      .container-outer{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
      }

      &.active.hidden .overlay,
      .overlay{
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: fade(#555,60%);
        opacity: 0; 
        visibility: hidden;
        .transition(~'.25s');
      }

      &.active .overlay{
        opacity: 1;
        visibility: visible;
      }

      &.active.hidden .container-outer>.container-inner,
      .container-outer>.container-inner{
        position: relative;
        text-align: left;
        width: 650px;
        height: auto;
        overflow: hidden;
        background-color: #F2F2F2;
        display: inline-block; 
        box-shadow: 0px 5px 10px fade(#000,30%);
        opacity: 0; 
        visibility: hidden;
        .transition(~'.5s');
        .ease(easeOutCirc);
        .translate3d(0px,0px,-100px);
      }

      &.active .container-outer>.container-inner{
        opacity: 1;
        visibility: visible;
        .translate3d(0px,0px,0px);
      }

      .content-outer{
        position: relative;
        height: auto;
      }
      &.has-title .content-outer{
        top:0px;
      }
      &.has-options .content-outer{
        bottom:auto;
      }

      .content-outer{
        position: relative;
        height: auto;
        max-height: 70vh;
              top: 0px;
      }
      .content-inner{
        position: relative;
        height: auto;
      }

      .footer{
        position: relative; 
      }

    }

  }


  .ui.ui-dialog .content-inner>.content{
        padding-left:@gutter;
        padding-right:@gutter;
        padding-bottom:@gutter;
  }



  .ui.ui-dialog .content-inner>.content.fill{
    position: relative;
    height: auto;
  }



  .ui.ui-dialogs .dialog .content-inner{
    padding:0px;
  }






}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){






}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
