& when (@bp = @bp-small){

    .ui.row,
    .ui.grid{
        position: relative;
        margin-left: -@gutter/2;
        margin-right: -@gutter/2;
        .flex-display();
        .flex-wrap(wrap);
        .align-items(flex-start);

        &.justify{
            .justify-content(space-between);
        }

        &.v-align-bottom{
            .align-items(flex-end);
        }

        &>.ui.cell,
        &>.cell{

           min-height: 30px;
            &>.ui.row,
            &>.ui.grid{
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

           .demo{
               background-color: fade(#000,5%);
               padding-top:@gutter;
               padding-bottom:@gutter;
           }

           .box-sizing(border-box);
           padding-left: @gutter/2;
           padding-right: @gutter/2;
           margin-bottom: @gutter;
           .flex();



           .small-auto{
               .flex(1);
           }

           &:not([class*="small-"]):not([class*="medium-"]):not([class*="large-"]):not([class*="xlarge-"]):not([class*="xxlarge-"]){
               padding-left: @gutter/2;
               padding-right: @gutter/2;
               margin-bottom: @gutter;
               .flex(1);
           }

           &.small-1 { width:(100% / 12) * 1; }
           &.small-2 { width:(100% / 12) * 2; }
           &.small-3 { width:(100% / 12) * 3; }
           &.small-4 { width:(100% / 12) * 4; }
           &.small-5 { width:(100% / 12) * 5; }
           &.small-6 { width:(100% / 12) * 6; }
           &.small-7 { width:(100% / 12) * 7; }
           &.small-8 { width:(100% / 12) * 8; }
           &.small-9 { width:(100% / 12) * 9; }
           &.small-10{ width:(100% / 12) * 10;}
           &.small-11{ width:(100% / 12) * 11;}
           &.small-12{ width:(100% / 12) * 12;}


           .ui.textfield,
           .ui.button,
           .ui.toggle{
               margin-bottom: 0;
           }


        }

        &.strict{

        }
                
        .cell.strict,
        &.strict>.cell{
           &.small-1 { width:@1col + @gutter; }
           &.small-2 { width:@2col + @gutter; }
           &.small-3 { width:@3col + @gutter; }
           &.small-4 { width:@4col + @gutter; }
           &.small-5 { width:@5col + @gutter; }
           &.small-6 { width:@6col + @gutter; }
           &.small-7 { width:@7col + @gutter; }
           &.small-8 { width:@8col + @gutter; }
           &.small-9 { width:@9col + @gutter; }
           &.small-10 { width:@10col + @gutter; }
           &.small-11 { width:@11col + @gutter; }
           &.small-12 { width:@12col + @gutter; }
        }
    }





}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){

 
    .ui.row,
    .ui.grid{

        margin-left: -@gutter/2;
        margin-right: -@gutter/2;

        &>.ui.cell,
        &>.cell{
            padding-left: @gutter/2;
            padding-right: @gutter/2;
            margin-bottom: @gutter;

            &:not([class*="small-"]):not([class*="medium-"]):not([class*="large-"]):not([class*="xlarge-"]):not([class*="xxlarge-"]){
                padding-left: @gutter/2;
                padding-right: @gutter/2;
                margin-bottom: @gutter;
                .flex(1);
            }

            &.medium-1 { width:(100% / 12) * 1; }
            &.medium-2 { width:(100% / 12) * 2; }
            &.medium-3 { width:(100% / 12) * 3; }
            &.medium-4 { width:(100% / 12) * 4; }
            &.medium-5 { width:(100% / 12) * 5; }
            &.medium-6 { width:(100% / 12) * 6; }
            &.medium-7 { width:(100% / 12) * 7; }
            &.medium-8 { width:(100% / 12) * 8; }
            &.medium-9 { width:(100% / 12) * 9; }
            &.medium-10{ width:(100% / 12) * 10;}
            &.medium-11{ width:(100% / 12) * 11;}
            &.medium-12{ width:(100% / 12) * 12;}


        }
        
        .cell.strict,
        &.strict>.cell{
           &.small-1 { width:@1col + @gutter; }
           &.small-2 { width:@2col + @gutter; }
           &.small-3 { width:@3col + @gutter; }
           &.small-4 { width:@4col + @gutter; }
           &.small-5 { width:@5col + @gutter; }
           &.small-6 { width:@6col + @gutter; outline:1px solid red; }
           &.small-7 { width:@7col + @gutter; }
           &.small-8 { width:@8col + @gutter; }
           &.small-9 { width:@9col + @gutter; }
           &.small-10 { width:@10col + @gutter; }
           &.small-11 { width:@11col + @gutter; }
           &.small-12 { width:@12col + @gutter; }



           &.medium-1 { width:@1col + @gutter; }
           &.medium-2 { width:@2col + @gutter; }
           &.medium-3 { width:@3col + @gutter; }
           &.medium-4 { width:@4col + @gutter; }
           &.medium-5 { width:@5col + @gutter; }
           &.medium-6 { width:@6col + @gutter; }
           &.medium-7 { width:@7col + @gutter; }
           &.medium-8 { width:@8col + @gutter; }
           &.medium-9 { width:@9col + @gutter; }
           &.medium-10 { width:@10col + @gutter; }
           &.medium-11 { width:@11col + @gutter; }
           &.medium-12 { width:@12col + @gutter; }
        }


    }










}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){



    .ui.row,
    .ui.grid{
        margin-left: -@gutter/2;
        margin-right: -@gutter/2;
        &>.ui.cell,
        &>.cell{
            padding-left: @gutter/2;
            padding-right: @gutter/2;
            margin-bottom: @gutter;

            &:not([class*="small-"]):not([class*="medium-"]):not([class*="large-"]):not([class*="xlarge-"]):not([class*="xxlarge-"]){
                padding-left: @gutter/2;
                padding-right: @gutter/2;
                margin-bottom: @gutter;
            }

            &.large-1 { width:(100% / 12) * 1; }
            &.large-2 { width:(100% / 12) * 2; }
            &.large-3 { width:(100% / 12) * 3; }
            &.large-4 { width:(100% / 12) * 4; }
            &.large-5 { width:(100% / 12) * 5; }
            &.large-6 { width:(100% / 12) * 6; }
            &.large-7 { width:(100% / 12) * 7; }
            &.large-8 { width:(100% / 12) * 8; }
            &.large-9 { width:(100% / 12) * 9; }
            &.large-10{ width:(100% / 12) * 10;}
            &.large-11{ width:(100% / 12) * 11;}
            &.large-12{ width:(100% / 12) * 12;}

        }
        
        .cell.strict,
        &.strict>.cell{
           &.large-1 { width:@1col + @gutter; }
           &.large-2 { width:@2col + @gutter; }
           &.large-3 { width:@3col + @gutter; }
           &.large-4 { width:@4col + @gutter; }
           &.large-5 { width:@5col + @gutter; }
           &.large-6 { width:@6col + @gutter; }
           &.large-7 { width:@7col + @gutter; }
           &.large-8 { width:@8col + @gutter; }
           &.large-9 { width:@9col + @gutter; }
           &.large-10 { width:@10col + @gutter; }
           &.large-11 { width:@11col + @gutter; }
           &.large-12 { width:@12col + @gutter; }
        }



    }




}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){




    .ui.row,
    .ui.grid{
        margin-left: -@gutter/2;
        margin-right: -@gutter/2;

        .ui.grid{
            margin-left: -@gutter/2;
            margin-right: -@gutter;
        }

        &>.ui.cell,
        &>.cell{
            padding-left: @gutter/2;
            padding-right: @gutter/2;
            margin-bottom: @gutter;

            &:not([class*="small-"]):not([class*="medium-"]):not([class*="large-"]):not([class*="xlarge-"]):not([class*="xxlarge-"]){
                padding-left: @gutter/2;
                padding-right: @gutter/2;
                margin-bottom: @gutter;
            }

            &.xlarge-1 { width:(100% / 12) * 1; }
            &.xlarge-2 { width:(100% / 12) * 2; }
            &.xlarge-3 { width:(100% / 12) * 3; }
            &.xlarge-4 { width:(100% / 12) * 4; }
            &.xlarge-5 { width:(100% / 12) * 5; }
            &.xlarge-6 { width:(100% / 12) * 6; }
            &.xlarge-7 { width:(100% / 12) * 7; }
            &.xlarge-8 { width:(100% / 12) * 8; }
            &.xlarge-9 { width:(100% / 12) * 9; }
            &.xlarge-10{ width:(100% / 12) * 10;}
            &.xlarge-11{ width:(100% / 12) * 11;}
            &.xlarge-12{ width:(100% / 12) * 12;}

        }
        
        .cell.strict,
        &.strict>.cell{
           &.xlarge-1 { width:@1col + @gutter; }
           &.xlarge-2 { width:@2col + @gutter; }
           &.xlarge-3 { width:@3col + @gutter; }
           &.xlarge-4 { width:@4col + @gutter; }
           &.xlarge-5 { width:@5col + @gutter; }
           &.xlarge-6 { width:@6col + @gutter; }
           &.xlarge-7 { width:@7col + @gutter; }
           &.xlarge-8 { width:@8col + @gutter; }
           &.xlarge-9 { width:@9col + @gutter; }
           &.xlarge-10 { width:@10col + @gutter; }
           &.xlarge-11 { width:@11col + @gutter; }
           &.xlarge-12 { width:@12col + @gutter; }
        }


    }





}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){




    .ui.row,
    .ui.grid{
        margin-left: -@gutter/2;
        margin-right: -@gutter/2;
        &>.ui.cell,
        &>.cell{
            padding-left: @gutter/2;
            padding-right: @gutter/2;
            margin-bottom: @gutter;

            &:not([class*="small-"]):not([class*="medium-"]):not([class*="large-"]):not([class*="xlarge-"]):not([class*="xxlarge-"]){
                padding-left: @gutter/2;
                padding-right: @gutter/2;
                margin-bottom: @gutter;
            }

            &.xxlarge-1 { width:(100% / 12) * 1; }
            &.xxlarge-2 { width:(100% / 12) * 2; }
            &.xxlarge-3 { width:(100% / 12) * 3; }
            &.xxlarge-4 { width:(100% / 12) * 4; }
            &.xxlarge-5 { width:(100% / 12) * 5; }
            &.xxlarge-6 { width:(100% / 12) * 6; }
            &.xxlarge-7 { width:(100% / 12) * 7; }
            &.xxlarge-8 { width:(100% / 12) * 8; }
            &.xxlarge-9 { width:(100% / 12) * 9; }
            &.xxlarge-10{ width:(100% / 12) * 10;}
            &.xxlarge-11{ width:(100% / 12) * 11;}
            &.xxlarge-12{ width:(100% / 12) * 12;}

        }
        
        .cell.strict,
        &.strict>.cell{
           &.xxlarge-1 { width:@1col + @gutter; }
           &.xxlarge-2 { width:@2col + @gutter; }
           &.xxlarge-3 { width:@3col + @gutter; }
           &.xxlarge-4 { width:@4col + @gutter; }
           &.xxlarge-5 { width:@5col + @gutter; }
           &.xxlarge-6 { width:@6col + @gutter; }
           &.xxlarge-7 { width:@7col + @gutter; }
           &.xxlarge-8 { width:@8col + @gutter; }
           &.xxlarge-9 { width:@9col + @gutter; }
           &.xxlarge-10 { width:@10col + @gutter; }
           &.xxlarge-11 { width:@11col + @gutter; }
           &.xxlarge-12 { width:@12col + @gutter; }
        }


    }







}/*---------------------------------------------------------------------------------------------------------- end xLarge */
