& when (@bp = @bp-small){


  .ui.textfield{

      position: relative;
      margin-bottom: @ui-element-vertical-margin;
      text-align: left;
      .flex-display();
      .flex-wrap(wrap);
      .justify-content(center);

      border-bottom: @r*1 solid transparent;
      &.focus{
          border-bottom-color: #0095FF;
      }
      
      &:after{
          content: "";
          color:#FF0048;
          background-color:#fff;
          text-align: center;
          width: @r*20;
          height: @r*20;
          border-radius: @r*20;
          position: absolute;
          pointer-events: none;
          border:@r solid #FF0048;
          font-family: "Helvetica", "Arial", sans-serif;
          bottom: (((@ui-element-vertical-padding*2) + @ui-font-primary-size) / 2)- (@r*10);
          right: (((@ui-element-vertical-padding*2) + @ui-font-primary-size) / 2)- (@r*10);
          font-size: @ui-font-primary-size-small;
          line-height:@ui-font-primary-size-small*1.8;
          font-weight: bold;
          opacity: 0; 
          visibility: hidden;
          .transition(~'.25s');
      }

      .label,
      label{
          .flex(none);
          width:100%;
          display: block;
          font-size: @ui-font-primary-size-small;
          text-transform: uppercase;
          padding-bottom: @ui-element-vertical-padding/2;
      }

      textarea,
      input{
          position: relative;
          border:0 none;
          border-radius: 0;
          .box-sizing(border-box);
          .appearance(none);
          .flex-display();
          .flex(1);
          padding:@ui-element-vertical-padding;
          padding-top: @ui-element-vertical-padding - (@r*1);
          padding-bottom: @ui-element-vertical-padding - (@r*2);
          padding-left: @ui-element-horizontal-padding;
          padding-right: @ui-element-horizontal-padding;
          border:@ui-border-width solid @ui-border-color;
          background-color:#fff;



          .placeholder-style(){
              font-size: inherit;
              color:fade(#000,50%);
          }

          &::-webkit-input-placeholder{.placeholder-style();}
          &::-moz-input-placeholder{.placeholder-style();}
          &::-ms-input-placeholder{.placeholder-style();}
          &::input-placeholder{.placeholder-style();}

          &:focus{
              outline: 0 none;
          }

          &[type="password"]{
              letter-spacing: 3px;

              .password-placeholder-style(){
                  letter-spacing: normal;
              }

              &::-webkit-input-placeholder{.password-placeholder-style();}
              &::-moz-input-placeholder{.password-placeholder-style();}
              &::-ms-input-placeholder{.password-placeholder-style();}
              &::input-placeholder{.password-placeholder-style();}

          }

          //box-shadow:0px 4px 10px fade(#000,40%) inset;

      }

		textarea{
			resize:none;
			line-height: 1.8;
			min-height: 85px;
			&:focus{
				outline:0;
			}
			&:after{
				content: ' ';
			}
		}

      .accessory{
          .flex-display();
          .flex(initial);
          .align-content(center);
          .align-items(center);
          height: auto;
          padding:@ui-element-vertical-padding;
          padding-left: @ui-element-horizontal-padding;
          padding-right: @ui-element-horizontal-padding;
          background-color: @ui-border-color;
          border:@ui-border-width solid @ui-border-color;
          margin:0;
          cursor: text;
      }

      i.accessory{
          text-align: center;
      }

      .accessory:not(i){
          width: auto;
      }

      &.icon-left.label-left{
          .accessory-icon{
              padding-right: @ui-element-horizontal-padding/2;
              border-right:0;
          }
          .accessory-label{
              padding-left: 0;
              border-left:0;
          }
      }


      &.error{
          border-bottom-color: #FF0048;

          input{
             
          }

          &:after{
          	content: '?';
              opacity: 1;
              visibility: visible;
          }

          input:focus+.error-message,
          &:hover .error-message{
              visibility: visible;
              opacity: 1;
              z-index: 999;
              padding-top: @ui-element-vertical-padding;
              padding-bottom: @ui-element-vertical-padding;
          }

      }

      .error-message{
          background-color:#FF0048;
          color:#fff;
          position: absolute;
          top: 100%;
          width: 100%;
          left: 0;
          opacity: 0;
          .box-sizing(border-box);
          .transition(~'.5s');
          .ease(easeOutExpo);
          font-size: @ui-font-primary-size-small;
          padding-top: 0;
          padding-bottom: 0;
          padding-left: @ui-element-horizontal-padding;
          padding-right: @ui-element-horizontal-padding;
          pointer-events: none;

      }

  }

 





}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){












}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
