& when (@bp = @bp-small){



 .ui.toggle{

     @width:@ui-toggle-width;
     @height:@ui-toggle-height;
     @border:@ui-toggle-inner-padding;

     border:0 none;
     margin:0;
     position: relative;
     margin-bottom: @ui-element-vertical-margin;

     text-align: left;
     .user-select(none);

     position: relative;
     display: block;
     text-align: left;
     .box-sizing(border-box);

     &:focus{
         outline: 0 none;
     }


     &.error{
         
     }

     label{
         display: block;
         width: 100%;
     }


     input[type="checkbox"]{
         position: absolute;
         top: 0px;
         right: 0px;
         opacity: 0;
     }


     input[type="checkbox"] + label{
         &:after{
             content:'';
             position: absolute;
             top: 50%;
             margin-top: -((@height - (@ui-toggle-inner-padding*2)) / 2);
             right:  @width - (@height - (@ui-toggle-inner-padding*2)) - @border;
             background-color: #fff;
             width: @height - (@ui-toggle-inner-padding*2);
             height: @height - (@ui-toggle-inner-padding*2);
             border-radius: @ui-toggle-rounded - @ui-toggle-inner-padding;
             cursor: pointer;
             .transition(~'.25s');
             //box-shadow:0px 4px 10px fade(#000,40%);
         }
         &:before{
             content:@ui-toggle-switch-label;
             cursor: pointer;
             font-size: @height - @ui-toggle-inner-padding;
             font-weight: bold;
             font-family: "Helvetica", "Arial", sans-serif;
             text-align: left;
             letter-spacing: @ui-toggle-switch-label-letter-spacing;
             line-height: @ui-toggle-switch-label-line-height;
             color: lighten(@ui-color-primary,30%);
             text-transform: uppercase;
             position: absolute;
             top: 50%;
             margin-top: -(@height / 2);
             right: 0px;
             padding-top: 0px;
             border-radius: @ui-toggle-rounded;
             .box-sizing(border-box);
             background-color: lighten(@ui-color-primary,10%);
             width:  @width;
             height: @height;
             .transition(~'.25s');
         }

     }
     input[type="checkbox"]:focus + label,
     input[type="checkbox"] + label:hover{
         &:before{
             color:lighten(@ui-color-primary, 40%);
             background-color: lighten(@ui-color-primary,5%);
         }
     }

     input[type="checkbox"]:checked + label{
         &:after{
             right:@border;
         }
         &:before{
             color: lighten(@ui-color-accent, 30%);
             background-color: @ui-color-accent;
         }

     }
     input[type="checkbox"]:checked:focus + label,
     input[type="checkbox"]:checked + label:hover{
         &:before{
             background-color: lighten(@ui-color-accent, 5%);
         }
     }


     &.left-side{

         label{
             text-align: right;
         }

         input[type="checkbox"]{
             right: auto;
             left: 0;
         }

         input[type="checkbox"] + label{
             &:after{
                 left: @border;
                 right:auto;
             }
             &:before{
                 left: 0px;
                 right:auto;
             }
         }

         input[type="checkbox"]:checked + label{
             &:after{
                 left: @width - (@height - (@ui-toggle-inner-padding*2)) - @border;
                 right: auto;
             }
         }



     }



 }








}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-medium){












}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
